@import url('https://fonts.googleapis.com/css?family=Secular+One');

body {
    background-color: #282c34;
    margin: 0;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    font-family: 'Secular One',sans-serif;
  }
.heading {
    background-image: linear-gradient(159deg, rgba(110,90,226,1) 31%, rgba(82,143,203,1) 43%, rgba(78,200,186,1) 64%);
    color: transparent;
    background-clip: text;
    height: 100px;
}

.description {
    font-size: 1.6rem;
}
.heading h1 {
    font-family: 'Secular One',sans-serif;
    font-size: 5rem;
    margin: 10px;
}

.buttons button {
    background-color:#6e5ae2;
    font-family: 'Secular One',sans-serif;
    color: white;
    font-size: 1.3rem;
    padding: 5px 10px;
    border: 1px transparent;
    border-radius: 7px;
    margin: 10px;
    transition: .5s;
}

.submitButton:hover {
    transform: scale(1.25);
  }

.buttons button:hover {
    background-color:#528fcb;
    text-shadow: 0 0 4px #fff;
}

hr {
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
    margin: 20px;
}

.generatorText {
    text-align: left;
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid #81d7fc;
    border-radius: 5px;
    overflow-wrap: break-word;
}